/*Homework 2 Bootstrap CSS Assignment 1*/

/*Header*/
header {
    background-color: #ffffff !important;
    overflow: hidden;
    border-bottom: 2px solid #cccccc;
    text-decoration: none;
    width:100%;
}
  
/* Body */
body {
    padding: 0;
    margin: 0;
    line-height: 150%;
    /* background: #efeee7; /* main background ATM */
    background-image: url("../../assets/images/white-waves.png"); 
    background-repeat: repeat;
}

.container {
    /* background-color: #ffffff !important; */
    min-width: 100%;
    padding: 0;
}

.navbar {
    padding: 0;
}

.header {
    height: 70px;
}

.hrow {
    margin:0;
    display: inline;
}
.row{
    margin: 0;
}

.navbar-brand {
    font-family: "Georgia", Times, Times New Roman, serif;
    padding: 25px;
    height: 70px;
    line-height: 15px;
    font-size: 30px;
    margin: 0;
    background-color: #4aaaa5;
    color: #ffffff !important;
}

.navbar-nocolor {
    background-color: #ffffff !important;
}

.nav-item, .nav-item:active, .nav-item:visited {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc !important;
}

.nav-item:hover {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff !important;
    background-color: #4aaaa5;
}

.nav-link, .nav-link:active, .nav-link:visited {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc !important;
}

.nav-link:hover {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff !important;
    background-color: #4aaaa5;
}

article {
    margin: 40px 0 40px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc !important;
    padding: 30px;
}

h2 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:  #4aaaa5;
    text-align: left;
    /* padding-bottom: 30px; */
    border-bottom: 2px solid #cccccc;
  }

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.font20{
    font-size: 20px;
}


.bannerTag, .bannerTag:visited, .bannerTag:active {
    position: absolute;
    color: #ffffff !important;
    z-index: 2;
    background: #4aaaa5;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: "Georgia", Times, Times New Roman, serif;
}

.bannerTag:hover {
    position: absolute;
    color: #4aaaa5 !important;
    z-index: 2;
    background: #cccccc;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: "Georgia", Times, Times New Roman, serif;
    font-weight: bold;
}

/* Contact Page Button */
/* .btn-primary {
    float: left;
    position: absolute;
    padding: 7px 20px;
    color: #ffffff !important;
    border-radius: 5px;
    left: 0px;
    bottom: -40px;
    overflow: hidden;
    background: #4aaaa5 !important;
    font-size: 18px;
  }
  
  /* Contact Page Button Hover
.btn-primary:hover {
    color: #4aaaa5 !important;
    background: #dddddd !important;
    font-weight: bold;
  } */

footer {
    background-color: #666666;
    /* text-align: center; */
    border-top: solid 4px #4aaaa5;
    clear: both;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* margin: 40px; */
    width: 100%;
    position: fixed;
    bottom: 0; 
}
